<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Goppetto</title>
    <link href="/static/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/flat-ui/dist/css/flat-ui.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    </head>

    <body>
      <div class="vertical-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 center-text">
              <h1>Goppetto</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
              <span class="pin-label">1</span>
              <span class="pull-right">
                <input type="checkbox" checked data-toggle="switch" data-id="1"/>
              </span>
            </div>
            <div class="col-xs-3">
              <input type="checkbox" checked data-toggle="switch" data-id="2"/>
              <span class="pin-label pull-right">2</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
              <span class="pin-label">3</span>
              <span class="pull-right">
                <input type="checkbox" checked data-toggle="switch" data-id="3"/>
              </span>
            </div>
            <div class="col-xs-3">
              <input type="checkbox" checked data-toggle="switch" data-id="4"/>
              <span class="pin-label pull-right">4</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
             <span class="pin-label">5</span>
             <span class="pull-right">
               <input type="checkbox" checked data-toggle="switch" data-id="5"/>
             </span>
            </div>
            <div class="col-xs-3">
              <input type="checkbox" checked data-toggle="switch" data-id="6"/>
              <span class="pin-label pull-right">6</span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 col-xs-offset-3">
              <span class="pin-label">7</span>
              <span class="pull-right">
                <input type="checkbox" checked data-toggle="switch" data-id="7"/>
              </span>
            </div>
            <div class="col-xs-3">
              <input type="checkbox" checked data-toggle="switch" data-id="8"/>
              <span class="pin-label pull-right">8</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 center-text">
              <a href="https://github.com/OrangeTux/Goppetto" target="_blank">
                <span class="fui-github blue"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="/static/js/goppetto.js"></script>
      <script type="text/javascript" src="/static/js/socket.js"></script>
      <script type="text/javascript" src="/static/vendor/jquery/dist/js/jquery.js"></script>
      <script type="text/javascript" src="/static/vendor/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
      <script>
          $(function() {
              var ws = new WebSocket('ws://localhost:9999/api');
          
              $("input").bootstrapSwitch();

              $(":checkbox").on('switchChange.bootstrapSwitch', function(e, state) {
                  value = state ? 1 : 0;
                  pin_id = $(this).data('id');
                  sendPinState(ws, pin_id, value);
              });
        });
      </script>
    </body>
</html>
