<!DOCTYPE HTML>                                                                 
<html>                                                                          
  <head>                                                                          
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">           
      <title>Jasmine Spec Runner v2.0.2</title>                                     
                                                                                    
      <link rel="shortcut icon" type="image/png" href="/static/vendor/jasmine/jasmine_favicon.png">
      <link rel="stylesheet" type="text/css" href="/static/vendor/jasmine/jasmine.css">  
                                                                                    
      <script type="text/javascript" src="/static/vendor/jasmine/jasmine.js"></script>   
      <script type="text/javascript" src="/static/vendor/jasmine/jasmine-html.js"></script>
      <script type="text/javascript" src="/static/vendor/jasmine/boot.js"></script>         
                                                                                    
      <script type="text/javascript" src="/static/vendor/jquery/dist/js/jquery.js"></script>
      <script type="text/javascript" src="/static/vendor/jasmine-fixture/jasmine-fixture.min.js"></script>
      <script type="text/javascript" src="/static/vendor/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
      <!-- include source files here... -->                                         
      <script type="text/javascript" src="/static/js/goppetto.js"></script>                  
      <!-- include spec files here... -->                                           
      <script type="text/javascript" src="/static/js/specs/goppetto_spec.js"></script>             
  </head>                                                                         
                                                                                  
  <body>                                                                          
  </body>                                                                         
</html>      
